@media screen and (max-width: 800px){

    #fontSizeBtn{
        filter: invert(100%);
    }
    #contrastBtn{
        filter: invert(100%);

    }
    #accessabilityStatement{
        filter: invert(100%);
    }

}