main {
    max-width: 50rem;
    display: block;
    text-align: center;
    margin: 0 auto;
}


.jobs{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 1rem;
}

.job{
    text-align: center;
    background-color: rgb(214, 192, 192);
    border: 0.1vw solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;
    flex: 1;
    padding: 1rem;
}

.job > p{
    text-align: right;
}

.job button{
    border: 0.2vw solid black;
    font-size: 1.25rem;
    background-color: #7e1919;
    padding: 0.5rem;
    align-self: flex-end;
    color: white;
    font-family: 'Alef';
    font-weight: bold;
}
.job button:hover{
    background-color: rgb(255, 169, 64);
    transition: 1s;
    cursor: pointer;
}

.job-master {
    text-align: center;
    font-size: 1.5rem;
}

#myForm{
    text-align: center;
    margin-bottom: 5em;
}

.send_cv{
    text-decoration: none;
}

button:focus{
    outline-offset: 0.25rem;
}