
:root {
    --button-container-width: var(--button-container-width);
}

@font-face {
    font-family: "Gveret Levin AlefAlefAlef";
    src: url("GveretLevinAlefAlefAlef-Regular.otf") format("opentype");
}

body{
    font-family: 'Arimo';
    margin: 0;
    display: block;
}


.accessability {
    display: flex;
    justify-content: space-between;
    width: var(--button-container-width);
    position: absolute;
    top: 0;
    z-index: 8;

    /* margin-left: 0; */
}


/* 
.accessability-img {
    width: 32px;
    height: 32px;
    position: absolute;
    top: 0;
    z-index: 8;
    /* border: solid 1px black; */
    /* font-size: 1em; */
/* } */

.accessability button {
    
    /* min-width: 50px;
    min-height: var(--button-container-width); */

    /* z-index: 8; */
    padding: 0;
    width: var(--button-container-width);
    height: var(--button-container-width);
    background-color: transparent;
    border: 1px solid transparent;


}

.accessability button img {
    width: 32px;
    height: 32px;
}


.accessability button:hover {
    cursor: pointer;
}


#fontSizeBtn{
    border: 1px solid transparent;
    pointer-events: none;
    display: none;
}

#contrastBtn{
    border: 1px solid transparent;
    pointer-events: none;
    display: none;
}

#accessabilityStatement{
    text-decoration: underline;
    text-shadow: 0.5px 0.5px #7c7373;
    pointer-events: none;
    display: none;

}
@media screen and (max-width: 800px){

    .accessability {
        flex-direction: column;
    }
}


header::after{
    content: '';
    display: table;
    clear: both;
}

nav{
    margin-left: 25vw;

}
.logo{
    position: absolute;
    padding-top: 2vw;
    margin-left: 78vw;
    display: block;
    max-width: 15vw;
}
@media screen and (max-width: 992px){
    .logo{
        max-width: 20vw;
    }
}
nav ul{
    margin: 0;
    padding: 0;
    font-size: 1.5em;
    list-style: none;
}


nav li{
    display: inline-block;
    margin-left: 7vw;
    padding-right: 1vw;
    padding-top: 3vw;
    padding-bottom: 3vw;
    position: relative;
}
@media screen and (max-width: 700px){
    nav li{
        margin-left: 3vw;
        font-size: 0.6em;
    }

}
nav a{
    color: #444;
    text-decoration: none;
    text-transform: uppercase;
}
nav a:hover{
    color: rgb(85, 34, 20);
}
nav a ::before{
    content: "";
    display: block;
    height: 0.4vw;
    right: 0.48vw;
    width: 100%;
    background-color: rgb(85, 34, 20);
    position: absolute;
    bottom: 2%;
    transform: scaleX(0);
    transition: transform ease-in-out 250ms;
}
nav a :hover::before{
    transform: scaleX(1);
}

/* .bar_stuff{
    margin-right: 17vw;
    margin-top: 0px;
    
} */
.container {
    position: relative;
    text-align: center;
    color: white;
    width: 100%;
    height: auto;
}
.container img{
    height: 70vh;
    width: 100%;
}
.upper_center {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.upper_center .name_headline{
    font-size: 4em;
    font-family: 'Gveret Levin AlefAlefAlef';
}


.strokeme {
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    margin-top: 10px;
    font-size: 1.8em;

  }

  @media screen and (max-width: 800px){
    .upper_center .name_headline{
        font-size: 2.5em;
    }
    .strokeme {

        font-size: 1.3em;
    
      }
}
.centered{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.rectangle{
    width: fit-content;
    position: absolute;
    top: 64%;
    background: #7e1919;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.4);
    border-radius: 80px;
    /* max-height: 8vw; */
    padding-top: 3px;
    padding-bottom: 3px;
    /* height: fit-content; */
    font-family: 'Alef', sans-serif;

}


.rectangle>H1{
    position: relative;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    font-size: 1.8em;
    color: white;
    margin-top: 7%;
    margin: 0.5em;
}

@media screen and (max-width: 800px) {
    .rectangle>H1{
        font-size: 1.2em;
    }
}

.professions{
    font-size: 1.5em;
    margin-left: 20%;
    margin-right: 20%;
}
.professions img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.professions h2{
    text-align: center;
    font-size: 1.2em;
}
.professions p {
    font-size: 1em;
    text-align: center;
}


@media screen and (max-width: 800px){
    .professions img{
        width: 120%;
        margin-left: 50%;
        transform: translate(-50%);
    }
    
}
#first_img_line{
    padding-left: 2vw;
}
#sec_img_line{
    padding-left: 7.5vw;
}

.section1{
    position: relative;
    margin-top: 3.5%;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;

}
.section1 h2{
    font-size: 1.8em;
}
.section1 p{
    font-size: 1.5em;
}

.rectangle2{
    position: relative;
    height: fit-content;
    width: fit-content;
    background: #502008;
    border: 2px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px #B02E2E;
    padding-left: 4px;
    padding-right: 4px;
}
.rectangle2{
    position: relative;
    /* bottom: 0.8vw; */
    font-size: 1.5em;
    text-align: center;
    color: white;
    padding: 8px;
    font-family: 'Alef', sans-serif;
}
#no_decoration{
    text-decoration: none;
}

.section2{
    position: relative;
    margin-left: 20%;
    margin-right: 20%;

}
#section2_head{
    text-align: center;
    font-size: 1.5em;

}
#slider{
    overflow: hidden;
}
#slider figure{
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 20s slider infinite;
}
#slider figure img{
    float: left;
    width: 20%;
}
@keyframes slider{
    0% {
        left: 0;
    }
    20% {
        left: 0;
    }
    25%{
        left: -100%;
    }
    45%{
        left: -100%;
    }
    50%{
        left: -200%;
    }
    70%{
        left: -200%;
    }

}

.section2 p{
    text-align: center;
    font-size: 1.5em;
}

footer {
    background-color: black;
    color: white;
    width: 100%;
    
}
main {
    min-height: calc(100vh - 280px);
}
.flex_container{
    display: flex;
    margin-left: 20%;
    margin-right: 20%;
    justify-content: space-evenly;
    
}
footer section{
    padding-right: 1.2vw;
    text-align: center;
}
footer a{
    color: white;
}
.footer_line{
    padding-top: 0.6vw;
    padding-bottom: 0.6vw;
}

.jobs_section{
    display: flex;
    justify-content: space-evenly;
    margin-left: 20%;
    margin-right: 20%;
}
@media screen and (max-width: 992px){
    .jobs_section{
        display: initial;
        justify-content: space-evenly;
        margin-left: 20%;
        margin-right: 20%;
    }
}

.column{
    flex: 1;
}
.job{
    position: relative;
    /* padding-top: 1.6vh; */
    text-align: center;
    margin: 5% 5% 0% 5%;
    background-color: rgb(214, 192, 192);
    min-height: 24vw;
    /* padding-bottom: 1.4vh; */
    border: 0.1vw solid black;

  
}

@media screen and (max-width: 760px) {
    .section1 {
        font-size: 1em;
    }
    .section2 {
        font-size: 1em;
    }
}
.job p{
    margin-left: 5%;
    margin-right: 5%;
}
.send_cv{
    text-decoration: none;
}

.job button{
    position: absolute;
    border: 0.2vw solid black;
    font-size: 1.2em;
    background-color: burlywood;
    left: 30%;
    bottom: 0.6vw;
    transition: 1s;
    margin-top: 10px;
}
.job button:hover{
    background-color: rgb(255, 169, 64);
    cursor: pointer;
}
#myForm{
    text-align: center;
    margin-bottom: 5em;
}


.job-master {
    margin-left: 50%;
    transform: translate(-50%);
    text-align: center;
}

.contact-details {
    margin-left: 50%;
    transform: translate(-50%);
    text-align: center;
    direction:rtl;
    width: 50%;
    outline: 2px solid black;
    background-color: #ccc8c8;
    color: black;
}

.cursive {
    font-family: 'Kalam', cursive;
}
