
:root {
    --button-container-width: var(--button-container-width);
}

* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Gveret Levin AlefAlefAlef";
    src: url("GveretLevinAlefAlefAlef-Regular.otf") format("opentype");
}

body{
    font-family: 'Alef';
    display: block;
    background-color: #F2EDDF;
    direction: rtl;
    margin-left: 1rem;
    margin-right: 1rem;
    overflow-x: hidden;
    font-size: 1.25rem;
    /* Hide scrollbar */
    /* TODO: find why horizontal scrollbar appears on the right side */
}

a {
    text-decoration: none;
}

nav ul{
    font-size: 1.25em;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
}

  
nav ul li{
    flex-basis: 12rem;
    text-align: center;
}

@media screen and (max-width: 768px) {
    nav ul{
        justify-content: flex-end;
        font-size: 1em;
    }
    nav ul li{
        flex-basis: 4.3rem;
        
    }
}
  

.logo{
    position: absolute;
    width: 10rem;
    top: 0.5rem;
    right: 0.5rem;
}

@media screen and (max-width: 768px) {
    .logo{
        width: 6rem;
        top: 0.5rem;
        right: 0.5rem;
    }
}
    



nav a{
    color: #444;
    display: block;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
}

/* Make an animated underline appear when nav item is hovered on */
nav a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 15%;
    width: 70%;
    height: 0.1em;
    background-color: #7e1919;
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
  }
  
  nav a:hover::after,
  nav a:focus::after {
    opacity: 1;
    transform: translate3d(0, 0.2em, 0);
  }

.accessability {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: var(--button-container-width);
    top: 75vh;
    right: 1rem;
}
.accessability:hover{
    cursor: pointer;
    background-color: #afa2a2;
}


.accessability div {
    padding: 0;
    width: var(--button-container-width);
    height: var(--button-container-width);
    background-color: transparent;
    border: 1px solid transparent;
}

.accessability div img {
    width: 2.5rem;
    height: 2.5rem;
}


.accessability div:hover {
    cursor: pointer;
}


#fontSizeBtn{
    border: 1px solid transparent;
    pointer-events: none;
    display: none;
}

#contrastBtn{
    border: 1px solid transparent;
    pointer-events: none;
    display: none;
}

#accessabilityStatement{
    text-decoration: underline;
    text-shadow: 0.5px 0.5px #7c7373;
    pointer-events: none;
    display: none;
    font-size: 1.5rem;


}
@media screen and (max-width: 800px){

    .accessability {
        flex-direction: column;
        z-index: 10;
    }
}

.container {
    text-align: center;
    color: white;
    width: 100%;
    height: 70vh;
    display: flex;
    background-image: url(newhero.jpg);
    background-size: cover;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.name-headline{
    font-size: 4rem;
    font-family: 'Gveret Levin AlefAlefAlef';
    margin: 0;
}


.white-text-with-stroke {
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

@media screen and (max-width: 800px){
    .name-headline{
        font-size: 2.5rem;
    }
}

.moto-headline {
    margin: 3rem;
    font-family: 'Gveret Levin AlefAlefAlef';
    font-size: 2rem;

}

@media screen and (max-width: 800px){
    .moto-headline {
        font-size: 1.5rem;
    }
}

.call-to-action{
    background: #7e1919;
    font-size: 2rem;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 8px;
    padding-left: 8px;
    font-family: 'Alef', sans-serif;
    color: white;
}
.prof-flex-images-grid {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.prof-flex-images-grid img {
    width: 90%;
    border-radius: 10%;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
}
@media screen and (max-width: 800px) {
    .prof-flex-images-grid img {
        width: 60%;
        border-radius: 30%;

    }
}

.prof-flex-images-grid img:hover {
    cursor: pointer;
    background-color: rgba(214, 192, 192, 0.699);
    transform: scale(1.1);
}
.prof-grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 0.5rem;
}

.rectangle2{
    position: relative;
    background: #502008;
    border: 2px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px #B02E2E;
    font-size: 1.5rem;
    text-align: center;
    color: white;
    padding: 8px;
    font-family: 'Alef', sans-serif;
    margin-top: 1rem;
}
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 70ch;
    margin-top: 1rem;
    text-align: center;
}

/* section p{
    font-size: 1.25rem;
} */


main {
    min-height: calc(100vh - 14rem);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    background-color: black;
    color: white;
    width: 100%;
    margin-top: 2rem;
    
}

.flex_container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}
footer section{
    text-align: center;
    margin: 1rem;

}
footer a{
    color: white;
}

.footer_line{
    padding-bottom: 1rem;
    
}




.contact-details {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    outline: 2px solid black;
    background-color: #ccc8c8;
    color: black;
    padding-left: 2rem;
    padding-right: 2rem;
}

.cursive {
    font-family: 'Kalam', cursive;
}



